body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f99de0;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

.product-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #a09e9e;
}

th, td {
    padding: 10px;
    text-align: center;
}

form {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #f99de0;
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f96dd3;
}

#formResponse {
    text-align: center;
    margin-top: 20px;
    color: green;
}